## Data prep
- data used from kaggle by Bergur Tamimi

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("premier_league_odds.csv")
df.head()

,Date,HomeTeam,AwayTeam,1,X,2,Result,HomeTeamGoals,AwayTeamGoals,Round,HomeTeamPoints,AwayTeamPoints,HomeTeamScoredGoals,AwayTeamScoredGoals,HomeTeamConcededGoals,AwayTeamConcededGoals
0,2003-08-16,Portsmouth,Aston Villa,2.375,3.25,2.75,1,2.0,1.0,1,0,0,0,0,0,0
1,2003-08-16,Man United,Bolton,1.286,4.50,10.00,1,4.0,0.0,1,0,0,0,0,0,0
2,2003-08-16,Arsenal,Everton,1.400,3.80,8.00,1,2.0,1.0,1,0,0,0,0,0,0
3,2003-08-16,Birmingham,Tottenham,2.375,3.25,2.75,1,1.0,0.0,1,0,0,0,0,0,0
4,2003-08-16,Blackburn,Wolves,1.615,3.40,5.50,1,5.0,1.0,1,0,0,0,0,0,0

In [3]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
filtered_df = df[df['Date'] > '2022-01-01']
columns_to_drop = ['HomeTeamGoals', 'HomeTeamPoints', 'AwayTeamPoints', 'AwayTeamGoals', 'Round', 'HomeTeamScoredGoals', 'AwayTeamScoredGoals', 'HomeTeamConcededGoals', 'AwayTeamConcededGoals']
filtered_df = filtered_df.drop(columns=columns_to_drop)
filtered_df.to_csv('filtered_data.csv', index=False)
filtered_df.head()

           Date    HomeTeam     AwayTeam     1     X     2 Result
6936 2022-01-02   Brentford  Aston Villa  3.00  3.30  2.40      1
6937 2022-01-02       Leeds      Burnley  2.05  3.50  3.50      1
6938 2022-01-02     Chelsea    Liverpool  3.10  3.50  2.25      X
6939 2022-01-02     Everton     Brighton  2.75  3.20  2.62      2
6940 2022-01-03  Man United       Wolves  1.53  4.33  6.00      2

In [4]:
filtered_df.shape

(574, 7)